 
<li> <a href="/sudo/dashboard"><i  class="mdi mdi-av-timer fa-fw"></i> <span class="hide-menu"> Dashboard </span></a> </li>
<li> <a href="/sudo/categories"><i  class="mdi mdi-apps fa-fw"></i> <span class="hide-menu"> Categories </span></a> </li>
<li> <a href="/sudo/blogs"><i class="mdi mdi-book-multiple fa-fw"></i> <span class="hide-menu"> My Blogs <span class="label label-info pull-right">{{blogsCount}}</span> </span></a></li>
