extends layout

block content
 .container.main-content
  .page-content-area.padding-none

    .about-content-warp
      .text-center.about-header
        .about-info
          h4.about-name
            a(href='#') Hi, I'm Maxwell Obi
          h6.about-bio Software Developer & Entrepreneur
      .about-text-content
        p.text-center Welcome to my personal blog, a place I vent, rant and spit my opinions – my opinions!!
        p I am an entrepreneur and I write code. I have a BSc in Computer Science, worked with Unified Payments Systems Limited and The Platform Technologies, founded Greex Technologies, Paydial, and currently the Co-founder/CTO at Amplify Payments.
        p I love chess, strategy, driving (hope to be a race car driver in next life 😊 ), books and video games – (favs: God of war, Call of Duty, Battle Field etc).
        p I never fit in, always looking to stand out, explore and try new things. More of having a flare for risks. I am an introvert with a big heart – so please say hi when next we meet. 
        p My goal is to see cutting edge innovation and technology emerge from Africa and prevail worldwide – and be a part of it.
          br
    br
  
    .col-xs-8.col-xs-offset-4.abt-footer.text-right.about-socail.social-two
      ul.list-inline
        li
          a.icon-fa-twitter(href='https://twitter.com/obi_maxwell', target='_blank')
            i.fa.fa-twitter
        li
          a.icon-fa-facebook(href='https://www.facebook.com/obi.maxwell.e', target='_blank')
            i.fa.fa-facebook
        li
          a.icon-fa-instagram(href='https://www.instagram.com/maxwell_obi/', target='_blank')
            i.fa.fa-instagram
        li
          a.icon-fa-linkedin(href='https://www.linkedin.com/in/maxwellobi/', target='_blank')
            i.fa.fa-linkedin
    p
