extends layout

block content
 .container.main-content
  .page-content-area
    p
    .text-center.contact-heading
      h2 Reach Me Here
      p You can reach me via my social handles or email
    .col-xs-12.abt-footer.text-center.about-socail.social-two
        ul.list-inline
          li
            a.icon-fa-twitter(href='https://twitter.com/obi_maxwell', target='_blank')
                i.fa.fa-twitter
          li
            a.icon-fa-facebook(href='https://www.facebook.com/obi.maxwell.e', target='_blank')
                i.fa.fa-facebook
          li
            a.icon-fa-instagram(href='https://www.instagram.com/maxwell_obi/', target='_blank')
                i.fa.fa-instagram
          li
            a.icon-fa-linkedin(href='https://www.linkedin.com/in/maxwellobi/', target='_blank')
                i.fa.fa-linkedin           
    .contact-info.text-center.contact-col-two
      .single-contact-info
        span.icon-directions.cont-info-icon
        h5
          span.contact_caption Lekki, Lagos State, Nigeria, Africa

      .single-contact-info
        span.icon-envelope-open.cont-info-icon
        h5
          a.contact_caption(href='mailto:me@maxwellobi.info') me@maxwellobi.info
   
    .contact-info.text-center.contact-col-one
      .single-contact-info
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126861.36662007625!2d3.4923612876240573!3d6.468652907660314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf75df5c74367%3A0x6a7e7df9d6c1cd4a!2sLekki!5e0!3m2!1sen!2sng!4v1501852381333" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
