doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/slimmenu.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/sweetalert/sweetalert.css')
  body.page-template-default.page
    #page-warp.page-warp.effect-right_sidebar
      div.pusher
        div.scrollbar-inner.content
          header.header-area
            aside.left-sidebar
              div.left-sidebar-inner
                include includes/menu

                div.l-sidebar-footer
                  div.l-sidebar-text
                    h2 Maxwell Obi
                    p An entrepreneur & performance driven software engineer with a strong desire to see cutting edge innovation and technology emerge from Africa and prevail worldwide.
                    div.fix.l-sidebar-social
                      span Follow Me
                      ul.list-inline.social-one
                        li
                          a.icon-fa-linkedin(href='https://www.linkedin.com/in/maxwellobi/')
                            i.fa.fa-linkedin
                        li
                          a.icon-fa-facebook(href='https://www.facebook.com/obi.maxwell.e')
                            i.fa.fa-facebook
                        li
                          a.icon-fa-twitter(href='https://twitter.com/obi_maxwell')
                            i.fa.fa-twitter
                        li
                          a.icon-fa-instagram(href='https://www.instagram.com/maxwell_obi/')
                            i.fa.fa-instagram

            div.center-container_area.center-header-area
              div.container
                div.row
                  div.col-xs-8
                    div.logo
                      a(href='/')
                        img.retina-logo(src='/images/logo/logo-text.png')
                        img.default-logo(src='/images/logo/logo-text.png')
                  .col-xs-4.text-right
                    .r-sidebar-btn-warp
                      #trigger-effects.column
                        button.sidebar-open-btn(data-effect='effect-right_sidebar')
                          span.side-trigger-warp
                            span.side-trigger-single
                            span.side-trigger-single
                            span.side-trigger-single
                            span.side-trigger-single
          .center-container_area 
            block content

          footer.center-container_area.footer-area.footer-widget-active
            .text-center.container
              p.copyright
                a(href='/') © Personal opinions of #[strong Maxwell Obi] (Entrepreneur & Software Engineer)
                
        include includes/sidebar

    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/js/plugins.js')
    script(type='text/javascript', src='/js/script.js')
    script(type='text/javascript', src='/sweetalert/sweetalert.min.js')
    if scripts 
      != scripts