doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/slimmenu.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body.page-template-default.page
    #page-warp.page-warp
      div.pusher
        div.scrollbar-inner.content
          header.header-area
            aside.left-sidebar
              div.left-sidebar-inner
                include includes/menu

                div.l-sidebar-footer
                  div.l-sidebar-text
                    h2 Maxwell Obi
                    p An entrepreneur & performance driven software engineer with a strong desire to see cutting edge innovation and technology emerge from Africa and prevail worldwide.
                    div.fix.l-sidebar-social
                      span Follow Me
                      ul.list-inline.social-one
                        li
                          a.icon-fa-linkedin(href='https://www.linkedin.com/in/maxwellobi/')
                            i.fa.fa-linkedin
                        li
                          a.icon-fa-facebook(href='https://www.facebook.com/obi.maxwell.e')
                            i.fa.fa-facebook
                        li
                          a.icon-fa-twitter(href='https://twitter.com/obi_maxwell')
                            i.fa.fa-twitter
                        li
                          a.icon-fa-instagram(href='https://www.instagram.com/maxwell_obi/')
                            i.fa.fa-instagram

            div.center-container_area.center-header-area
              div.container
                div.row
                  div.col-xs-8
                    div.logo
                      a(href='/')
                        img.retina-logo(src='/images/logo/logo-text.png')
                        img.default-logo(src='/images/logo/logo-text.png')
                  .col-xs-4.text-right
                    .r-sidebar-btn-warp
                      #trigger-effects.column
                        button.sidebar-open-btn(data-effect='effect-right_sidebar')
                          span.side-trigger-warp
                            span.side-trigger-single
                            span.side-trigger-single
                            span.side-trigger-single
                            span.side-trigger-single
          .center-container_area 
            block content

          footer.center-container_area.footer-area.footer-widget-active
            .text-center.container
              p.copyright
                a(href='/') © Personal opinions of #[strong Maxwell Obi] (Entrepreneur & Software Engineer)
                
        #menu-8.effect-right_sidebar.right-sidebar
          .scrollbar-inner.right-sidebar-scroll
            .right-sidebar-inner
              #search-2.side-widget.widget.widget_search
                form#searchform.searchform.search-form(role='search', method='get', action='')
                  div
                    input#s.search-field(type='text', name='s', placeholder='Search...')
                    button#searchsubmit.search-submit(type='submit')
                      span.icon-magnifier
							
              #text-6.side-widget.widget.widget_text
                .textwidget
                  img(src='')
                  p I’m so happy to see you!! My amazing memories in life seems to be take place decided to blog.
							
              #text-widget-4.side-widget.widget.text-widget
                h4.widget-title Follow me
                ul.list-inline.social-four.widget-social.socials-5940fb60d2b5f
                  li
                    a.icon-fa-twitter(href='https://www.twitter.com/', target='_blank')
                      i.fa.fa-twitter
                  li
                    a.icon-fa-facebook(href='https://facebook.com/', target='_blank')
                      i.fa.fa-facebook
                  li
                    a.icon-fa-instagram(href='https://www.instagram.com/', target='_blank')
                      i.fa.fa-instagram

              #newsletter_widget-2.side-widget.widget.newsletter_widget
                aside.side-widget.widget_mc4wp_form_widget
                  h4.widget-title Newsletter
                  form#mc4wp-form-3.mc4wp-form.mc4wp-form-894(method='post', data-id='894')
                    .mc4wp-form-fields
                      p
                        label Subscribe to my weekly newsletters and never miss any thing. 
                      form#mc4wp-form-1.mc4wp-form.mc4wp-form-112(method='post', data-id='112', data-name='')
                        .mc4wp-form-fields
                          p
                            input(type='email', name='EMAIL', placeholder='Your email address', required='')
                          p
                            input(type='submit', value='Sign up')
                        .mc4wp-response
                      .mc4wp-response
              
              #categories-3.side-widget.widget.widget_categories
                h4.widget-title Category
                label.screen-reader-text(for='cat') Category
                select#cat.postform(name='cat')
                  option(value='-1') Select Category
                  option.level-0(value='42') Food
                  option.level-0(value='6') Health
                  option.level-0(value='9') Lifestyle

              #archives-3.side-widget.widget.widget_archive
                h4.widget-title Archives
                label.screen-reader-text(for='archives-dropdown-3') Archives
                select#archives-dropdown-3(name='archive-dropdown', onchange='document.location.href=this.options[this.selectedIndex].value;')
                  option(value='') Select Month
                  option(value='../2017/05/index.html')  May 2017 
                  option(value='../2017/03/index.html')  March 2017 
                  option(value='../2013/05/index.html')  May 2013 
    
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/js/plugins.js')
    script(type='text/javascript', src='/js/script.js')
