div.l-sidebar-header
    div.mobil_menu_warp
        div.menu-menu-1-container
            ul#mobil_menu.slimmenu
                li.menu-item
                    a(href='/') Home
                li.menu-item
                    a(href='/about') About
                li.menu-item
                    a(href='/contact') Contact
    div.menu-hover
        div.menu-nav-shap-warp
            span.menu-nav-shap
            span.menu-nav-shap
            span.menu-nav-shap
        div.nav-warp
            nav.main-menu
                div.menu-menu-1-container
                    ul#menu.list-unstyled
                        li.menu-item
                            a(href='/') Home
                        li.menu-item
                            a(href='/about') About
                        li.menu-item
                            a(href='/contact') Contact
            div.search-form-warp
                div.serch-form
                    form#searchform.searchform.search-form(role='search', method='get', action='')
                    div
                        input#s.search-field(type='text', name='s', placeholder='Search...')
                        button#searchsubmit.search-submit(type='submit')
                            span.icon-magnifier