.effect-right_sidebar.right-sidebar
  .scrollbar-inner.right-sidebar-scroll
    .right-sidebar-inner
        .side-widget.widget.text-widget
            h4.widget-title Follow me
            ul.list-inline.social-four.widget-social
                li
                    a.icon-fa-linkedin(href='https://www.linkedin.com/in/maxwellobi/', target='_blank')
                        i.fa.fa-linkedin
                li
                    a.icon-fa-facebook(href='https://www.facebook.com/obi.maxwell.e', target='_blank')
                        i.fa.fa-facebook
                li
                    a.icon-fa-twitter(href='https://twitter.com/obi_maxwell', target='_blank')
                        i.fa.fa-twitter
                li
                    a.icon-fa-instagram(href='https://www.instagram.com/maxwell_obi/', target='_blank')
                        i.fa.fa-instagram

        .side-widget.widget.newsletter_widget
            aside.side-widget.widget_mc4wp_form_widget
                h4.widget-title Newsletter
                p
                    label Subscribe to my monthly newsletters and never miss a thing. 
                    form(method='post')
                      .form-fields
                        p
                          input(type='email', name='email', placeholder='Your email address', required)
                        p
                          input(type='submit', value='Subscribe')
                    
              
        //- .side-widget.widget.widget_categories
        //-     h4.widget-title Categories
        //-     label.screen-reader-text(for='category') Categories
        //-     select#category.postform(name='category')
        //-         option(value='-1') Select Category
        //-         option(value='42') Food
        //-         option(value='6') Health
        //-         option(value='9') Lifestyle